/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  /* fluid 5 columns */
.altlab-postgrid-masonry{
	box-sizing: border-box;
	width: 98%;
	margin: 0 1%;
}

.altlab-postgrid-grid-sizer,
.altlab-postgrid-brick { 
	box-sizing: border-box;
	width: 100%;
	margin-right: 0%;
}

.altlab-postgrid-brick{
	margin-bottom: 1em;
}

.altlab-postgrid-brick img{
	max-width: 100% !important;
	height: auto;
	box-sizing: border-box;
}



@media (min-width: 500px) {
	.altlab-postgrid-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -2%;
	}
	.altlab-postgrid-masonry.maxcol2 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol3 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol4 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol2 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol3 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol4 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-brick{ 
		width: 48%;
		margin-right: 1%;
	}
}

@media (min-width: 900px) {
	.altlab-postgrid-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}
	.altlab-postgrid-masonry.maxcol3 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol4 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol3 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol4 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-brick{ 
		width: 32%;
		margin-right: 1%;
	}
}

@media (min-width: 1200px) {
	.altlab-postgrid-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}

	.altlab-postgrid-masonry.maxcol4 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol4 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-brick{ 
		width: 24%;
		margin-right: 1%;
	}
}

@media (min-width: 1400px) {
	.altlab-postgrid-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}

	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol5 .altlab-postgrid-brick,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-brick{ 
		width: 19%;
		margin-right: 1%;
	}
}

@media (min-width: 1800px) {
	.altlab-postgrid-masonry{
		width: 98%;
		margin: 0 1%;
		position: relative;
		right: -1%;
	}

	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-grid-sizer,
	.altlab-postgrid-masonry.maxcol6 .altlab-postgrid-brick{ 
		width: 15%;
		margin-right: 1%;
	}
}


.altlab-postgrid-brick.styled {
	margin-top: 1%;
	margin-bottom: 0;
	padding: 30px;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
}

.altlab-postgrid-brick.styled.light {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #E2E2E2;
	background: white;
	color: #262B34;
}

.altlab-postgrid-brick.styled.dark {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #E2E2E2;
	background: #313131;
	color: #F7F7F7;
}

.altlab-postgrid-brick.styled a{
	text-decoration: none;
}

.altlab-postgrid-brick.styled .thumbnail {
	padding: 0 0 0 0;
	margin: 0 auto 15px auto;
	border: none;
}

.altlab-postgrid-brick.styled .post-meta {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
	width: 100%;
	border: none;
	float: none;
	text-align: left;
}

.altlab-postgrid-brick.styled .post-meta .post-title {
	font-weight: 400;
	text-transform: uppercase;
}

.altlab-postgrid-brick.styled .post-meta .post-author,
.altlab-postgrid-brick.styled .post-meta .post-date{
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

.altlab-postgrid-brick.styled .edit-this-link{
	font-weight: 14px;
}

.navigation.pagination{
	overflow: auto;
	zoom: 1;
	width: 100%;
}

.navigation.pagination .next{
	float: right;
}

.navigation.pagination .prev{
	float: left;
}