/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  /* fluid 5 columns */
.altlab-postgrid-masonry{
	/*overflow: hidden;*/
	box-sizing: border-box;


}


.altlab-postgrid-brick{
	margin-bottom: 1em;

	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid;
}

.altlab-postgrid-brick img{
	max-width: 100% !important;
	height: auto;
	box-sizing: border-box;
}


@media (min-width: 500px) {
	.altlab-postgrid-masonry.maxcol2,
	.altlab-postgrid-masonry.maxcol3,
	.altlab-postgrid-masonry.maxcol4,
	.altlab-postgrid-masonry.maxcol5,
	.altlab-postgrid-masonry.maxcol6{
	  -webkit-column-count:2;
      -moz-column-count:2;
	  column-count:2;
	}
}

@media (min-width: 900px) {
	.altlab-postgrid-masonry.maxcol3,
	.altlab-postgrid-masonry.maxcol4,
	.altlab-postgrid-masonry.maxcol5,
	.altlab-postgrid-masonry.maxcol6{
	  -webkit-column-count:3;
      -moz-column-count:3;
	  column-count:3;
	}
}

@media (min-width: 1200px) {
	.altlab-postgrid-masonry.maxcol4,
	.altlab-postgrid-masonry.maxcol5,
	.altlab-postgrid-masonry.maxcol6{
	  -webkit-column-count:4;
      -moz-column-count:4;
	  column-count:4;
	}
}

@media (min-width: 1400px) {
	.altlab-postgrid-masonry.maxcol5,
	.altlab-postgrid-masonry.maxcol6{
	  -webkit-column-count:5;
      -moz-column-count:5;
	  column-count:5;
	}
}

@media (min-width: 1800px) {
	.altlab-postgrid-masonry.maxcol6{
	  -webkit-column-count:6;
      -moz-column-count:6;
	  column-count:6;
	}
}


.altlab-postgrid-brick.styled {
	margin-top: 1%;
	margin-bottom: 0;
	padding: 30px;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
}

.altlab-postgrid-brick.styled.light {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #E2E2E2;
	background: white;
	color: #262B34;
}



.altlab-postgrid-brick.styled.dark {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #E2E2E2;
	background: #313131;
	color: #F7F7F7;
}

.altlab-postgrid-brick.styled a{
	text-decoration: none;
}

.altlab-postgrid-brick.styled .thumbnail {
	padding: 0 0 0 0;
	margin: 0 auto 15px auto;
	border: none;
}

.altlab-postgrid-brick.styled .post-meta {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
	width: 100%;
	border: none;
	float: none;
	text-align: left;
}

.altlab-postgrid-brick.styled .post-meta .post-title {
	font-weight: 400;
	text-transform: uppercase;
}

.altlab-postgrid-brick.styled .post-meta .post-author,
.altlab-postgrid-brick.styled .post-meta .post-date{
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

.altlab-postgrid-brick.styled .edit-this-link{
	font-weight: 14px;
}

.navigation.pagination{
	overflow: auto;
	zoom: 1;
	width: 100%;
}

.navigation.pagination .next{
	float: right;
}

.navigation.pagination .prev{
	float: left;
}


.altlab-postgrid-masonry .mix{
    display: none;
}